.html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
}

body{
    background-color:cadetblue ;
}

.card-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
    padding: 20px;
}

.card {
    
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:aliceblue;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect */
}



.card-body {
    padding: 10px;
}

.card-body h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1rem;
    color: #555;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.card-footer .price {
    font-size: 1.25rem;
    color: #000;
}

.card-footer .btn {
   /* padding: 8px 12px;*/
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}



.basket-button{
    background-color: #1e3d58;
    border-radius: 20px;
    color: aliceblue;
    border: none;
}

.basket-button:hover{
    background-color: #000;
}

/* Responsiveness: Adjust grid for smaller screens */
@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr; /* 1 card per row on small screens */
    }
}
